<div class="text-center">
    <h4>Muchas Gracias Por Participar</h4>
    <span>Debes estar atento a nuestras redes sociales.</span><br>
    <img src="../../../../assets/H_electro.svg" alt="" srcset=""><br>

    <h6><strong>Nuestras Redes&nbsp;</strong></h6>
    <a href="https://www.facebook.com/profile.php?id=100083036633680&mibextid=ZbWKwL" style="cursor: pointer;color: #960010;"><i class="fa-brands fa-facebook fa-3x"></i></a>&nbsp;&nbsp;
    <a href="https://instagram.com/almacenelectrohogar?igshid=MzRlODBiNWFlZA==" style="cursor: pointer;color: #960010;"><i class="fa-brands fa-instagram fa-3x"></i></a>
</div>